@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 1rem;
    text-align: center;
    background-color: #ebf1ff;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    box-shadow: #0000003d 0px 3px 8px;
    border-radius: 2rem;
    width: 650px;
    background-color: #fff;

    display: flex;
    justify-content: space-between;
}

.result {
    width: 50%;
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    background: linear-gradient(to bottom, #7857ff, #2e2be9);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.result h3 {
    color:  #c8c7ff;
    margin-bottom: 1rem;
}

.result p {
    color: #c8c7ff;
    width: 200px;
}

.result h1 {
    color: #fff;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background: linear-gradient(to bottom, #4e21ca, #2421ca00);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.circle h1 {
    color: #fff;
    font-size: 4rem;
}

.circle p {
    color: #c8c7ff;
}

.summary {
    width: 50%;
    padding: 1.5rem 2rem;
    

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.summary h3 {
    align-self: flex-start;
}

.rect-parent {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.rect {
    padding: 1rem .5rem;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rect:first-child {
    background-color: #ff55551f;
}

.rect:first-child .pin strong {
    color: #ff5555;
}

.rect:nth-child(2) {
    background-color: #FFB21E1f;
}

.rect:nth-child(2) .pin strong {
    color: #FFB21E;
}

.rect:nth-child(3) {
    background-color: #00BB8F1f;
}

.rect:nth-child(3) .pin strong {
    color: #00BB8F;
}

.rect:last-child {
    background-color: #1125D61f;
}

.rect:last-child .pin strong {
    color: #1125D6;
}

.rect p {
    color: #808080;
}

.rect strong {
    color: #303b5a;
}

.pin {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.bttn {
    margin-top: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    font-weight: 700;

    color: #fff;
    background: linear-gradient(to bottom, #7857ff, #2e2be9);
}

.bttn:hover {
    cursor: pointer;
}

.bttn:active {
    background: #303b5a;
}

@media screen and (max-width:650px) {
    body {
        align-items: flex-start;
        background-color: #fff;
    }

    .container {
        box-shadow: none;
        flex-direction: column;
    }

    .result {
        border-radius: 0 0 1rem 1rem;
        width: 100%;
    }

    .result .info {
        width: 250px;
    }

    .summary {
        width: 100%;
    }
}